<section class="flex-center">
  <div [ngStyle]="{'width.px': windowsWidth}" class="content" role="main">
    <div class="header">
      <h1>todos</h1>
    </div>
    <div class="page-options">
      <fa-icon [ngClass]="currentPage === 0 ?'disable' : ''" [icon]="faAngleLeft" (click)="onClickLeft()"></fa-icon>
      <fa-icon [ngClass]="currentPage + 1 >= getCeil(this.totalCount, this.perPage) ?'disable' : ''"
               [icon]="faAngleRight" (click)="onClickRight()"></fa-icon>
    </div>
    <div class="todo-panel">
    <span class="flex-center option" [ngClass]="isSelectAll === true ? 'active' : ''">
      <fa-icon [icon]="faChevronDown" (click)="onSelectAll()"></fa-icon>
    </span>
      <input class="todo-input" type="text" placeholder="What needs to be done?" (input)="onInput($event)"
             (keyup)="onEnter($event)" [value]="inputValue">
    </div>
    <div class="todo-list" *ngIf="todoList.length > 0">
      <div class="item" *ngFor="let item of todoListFiltered" (mouseenter)="item.hovered = true"
           (mouseleave)="item.hovered = false">
      <span class="flex-center option" [ngClass]="item.checked === true ? 'active' : ''">
        <fa-icon [icon]="item.checked ? faCircleCheck: faCircle" (click)="onCheckItem(item)"></fa-icon>
      </span>
        <input class="flex-center content" [ngClass]="[item.checked ? 'isChecked' : '', item.editing ? 'isEdit' : '']"
               [value]="item.content" (dblclick)="item.editing = true" [readOnly]="!item.editing"
               (focusout)="onEdit(item, $event)"
               (keyup)="$event.key === 'Enter' && onEdit(item, $event)">
        <fa-icon *ngIf="item.hovered && item.editing === false" class="destroy" [icon]="faTimes"
                 (click)="onDestroy(item)"></fa-icon>
      </div>
    </div>
    <footer class="footer">
      <div>
        <div>{{this.filterLength}} item left</div>
        <div class="button-panel">
          <button (click)="onChangeFilter('All')" [ngClass]="selectedFilter === 'All' ? 'selected' : ''">All</button>
          <button (click)="onChangeFilter('Active')" [ngClass]="selectedFilter === 'Active' ? 'selected' : ''">Active
          </button>
          <button (click)="onChangeFilter('Completed')" [ngClass]="selectedFilter === 'Completed' ? 'selected' : ''">
            Completed
          </button>
        </div>
        <div class="clear" (click)="onMultiDestroy()">Clear completed</div>
      </div>
    </footer>
  </div>
</section>
